.floating-button {
    bottom:45px;
    margin-bottom:45px;
    position:fixed;
    right:24px;  
    z-index:998;
}

.rederror {background-color: #e57373;}

#toaster {
  position: fixed;
  top: 56px;
  height: 48px;
  left: 0;
  width: 30%;
  z-index: 10000;
}

#toplistbutton {
  margin: 15px;
}

#menu-icon {
	padding-top: 7px;
}

md-input-container span {
  font-size: 24px;
}

md-option {
  font-size: 20px;
}


.fill {
  height: 100%;
  display: inherit;
  /*overflow: hidden;*/
}

#detailBox {
  margin-left: 20px;
}

.fill-image-grid {
  height: 100%;
  overflow: hidden;
}

.fill-image-grid img {
  width: 100%;
}

.custom-footer {
  background: rgba(0, 0, 0, 0.68);
}

.infobox {
    /*background-color: rgba(255,255,255,0.5);*/
    background: linear-gradient(to bottom, rgba(255,255,255,0) 20%, rgba(255,255,255,1) 80%);
    /*margin-top: 80px;*/
    height: 75vh;
    vertical-align: bottom;
}

.banner {
    background-size: cover;
    height: 75vh;
    display: block;
    background-position-x: center;
}

#poster {
    z-index: 1;
    box-shadow: 0 14px 28px rgba(0,0,0,0.5), 0 10px 10px rgba(0,0,0,0.5);
    margin: auto 20px 30px 14px;
    max-height: 80%;
    max-width: 100%;
    width: auto;
    height: auto;
}

.progressbar {
  position: absolute;
}

.clickableIcon {
  cursor: pointer;
}

#titleAndOverview h1 {
  margin-bottom: 10px;
}

#titleAndOverview p {
  margin-top: 0px;
  margin-bottom: 0px;
}

#titleAndOverview {
  margin-bottom: 2px;
}

.myButton {
  width: 100%;
}

#listBox {
  margin-top: -5px;
}

.video {
    width: 100%;
    height: 100%;
    position: absolute;
}

.video-container {
  overflow: hidden;
  position: relative;
}

#trailerDialog {
  width: 80%;
  height: 80%;
}

.container vg-scrub-bar-current-time  {
  height: 1px !important;
}

.container vg-scrub-bar-current-time  {
  height: 1px !important;
}

@media (max-width:767px) {
  #poster {
        min-width: 100%;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width:1200px) {
  #titleAndOverview h1 {
    font-size: 45px;
  }
  
  #titleAndOverview md-icon {
    font-size: 45px;
    margin-bottom: 25px;
  }

  #titleAndOverview p {
    font-size: 24px;
  }
}
