<div>
    <div ng-show="playItem.config">
        <videogular vg-theme="playItem.config.theme" vg-auto-play="true" vg-autohide-cursor="playItem.config.plugins.controls.autoHide" vg-autohide-cursor-time="playItem.config.plugins.controls.autoHideTime">
            <vg-media vg-src="playItem.config.sources">
            </vg-media>
            <vg-controls vg-autohide="playItem.config.plugins.controls.autoHide" vg-autohide-time="playItem.config.plugins.controls.autoHideTime">
                <vg-play-pause-button></vg-play-pause-button>
                <vg-volume>
                    <vg-mute-button></vg-mute-button>
                    <vg-volume-bar></vg-volume-bar>
                </vg-volume>
                <vg-scrub-bar>
                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                    <vg-scrub-bar-buffer></vg-scrub-bar-buffer>
                </vg-scrub-bar>
                <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                <vg-fullscreen-button></vg-fullscreen-button>
            </vg-controls>
        </videogular>
    </div>
    <iframe id="innerframetmp" sandbox="allow-scripts allow-same-origin" ng-src="{{tmpurlsrc}}"  src='about:blank' style="width:0;height:0;border:0;border:none;display:none;"></iframe>
    <div layout="column">
        <div class="banner" flex="30" ng-style="{'background-image': 'url(' + detail.backdrop_path + ')'}">
            <div layout="row" class="infobox">
                <div class="fill" flex="25" hide-xs layout-margin>
                    <img id="poster" ng-src="{{detail.poster_path}}"></img>
                </div>
                <div flex="auto" layout="column" id="detailBox" layout-align="end start" layout-margin >
                    <div id="titleAndOverview">
                        <h1>
                            {{detail.title}}
                            <md-icon md-font-library="material-icons" class="clickableIcon" aria-label="Favorite" ng-click="changeFavorite()">{{ favorite == true ? 'star' : 'star_border' }}</md-icon>
                            <md-button ng-show="detail.videos && detail.videos.length != 0" ng-click="showTrailerDialog($event)" class="md-raised md-primary" layout-margin>TRAILER</md-button>
                        </h1>
                        <p ng-init="limit = 300">
                            {{ detail.overview | limitTo: limit }}
                            <md-icon  class="clickableIcon" ng-show="detail.overview.length > limit" ng-click = "showAlert($event, detail.overview)" md-font-library="material-icons" class="md-secondary md-hue-3" aria-label="more" >more_horiz</md-icon>
                        <p>
                    </div>
                    <div id="episodePickBox" ng-show="target == 'tv'">
                        <md-input-container>
                            <label>Stagione</label>
                            <md-select ng-model="searchInfo.season_number" placeholder="Stagione" ng-change="getListEpisodesSeason()">
                                    <md-option ng-value="{{item.season_number}}"  ng-repeat="item in detail.seasons">{{item.season_number}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container>
                            <label>Episodio</label>
                            <md-select ng-disabled="!episodes || episodes.length == 0" ng-model="searchInfo.episode_number" placeholder="Episodio" ng-change="searchEpisode(searchInfo.season_number, searchInfo.episode_number)">
                                    <md-option ng-value="{{item.episode_number}}" ng-repeat="item in episodes">{{item.episode_number}} - {{item.name}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-button class="md-primary md-raised" ng-click="openManualSelectDialog($event)"  >
                            Scelta Manuale
                        </md-button>
                        <h3 ng-show="lastSeenEpisode">
                            Ultimo episodio visto: {{lastSeenEpisode}}
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="loading" layout="row" layout-align="center center">
            <md-progress-linear md-mode="indeterminate" ng-show="loading"></md-progress-linear>
        </div>
        <div layout="column" id="listBox">
            <md-list id="listVideos" flex>
                <md-list-item class="md-3-line" ng-repeat="item in videos" ng-click="checkUrl(item)">
                <div class="md-list-item-text" layout="column">
                    <h4>{{ item.title }}</h4>
                    <h4>[ {{item.quality}} ] [ {{ item.is_sub ? "SUB-ITA" : "ITA"}} ] {{ item.channel }} - {{ item.server }}</h4>
                    <md-progress-circular md-mode="indeterminate" md-diameter="20px" class="md-secondary" ng-show="item.loading"></md-progress-circular>
                    <p ng-class='{rederror: item.expired}' ng-hide="!item.expired">Non trovato</p>
                    <md-icon md-font-library="material-icons" class="md-secondary md-hue-3" aria-label="Copy" ng-click="copyOnClipboard(item.playUrl)" ng-show="!isNull(item.playUrl)">content_copy</md-icon>
                    <md-icon md-font-library="material-icons" class="md-secondary md-hue-3" aria-label="Download" ng-click="openInBrowser(item.playUrl)" ng-show="!isNull(item.playUrl)">open_in_browser</md-icon>
                    <md-icon md-font-library="material-icons" class="md-secondary md-hue-3" aria-label="Download" ng-click="download(item.playUrl)" ng-show="!isNull(item.playUrl) && !isMac()">file_download</md-icon>
                    <md-icon md-svg-src="img/vlc.svg" aria-label="PlayVLC" class="md-secondary md-hue-3" ng-click="playVLC(item.playUrl)" ng-show="!isNull(item.playUrl)"></md-icon>
                    <md-icon aria-label="Play" class="md-secondary md-hue-3" ng-click="playVideo(item.playUrl)" ng-show="!isNull(item.playUrl)" md-font-library="material-icons">play_arrow</md-icon>
                </div>
                </md-list-item>
            </md-list>
        <div>
    </div>
</div>
