<md-progress-linear md-mode="indeterminate" ng-show="loading"></md-progress-linear>
<md-content layout-padding>
            <md-grid-list
               md-cols-gt-md="6" md-cols-sm="3" md-cols-md="3" md-cols-xs="1"
               md-row-height="3:4" md-cols="6"
               md-gutter="4px">
               <md-grid-tile ng-repeat="film in favorites" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1">
                    <div class="fill-image-grid" ng-click="goto(film)">
                        <img hires="{{film.poster_path}}" src="img/placeholder.png" err-src="img/placeholder.png"/>
                        <md-grid-tile-footer class="custom-footer">
                            <h3>{{film.title}}</h3>
                        </md-grid-tile-footer>
                    </div>
               </md-grid-tile>
            </md-grid-list>
</md-content>