<md-toast role="alert" aria-relevant="all">
    <span class="md-toast-text" flex>{{toastMessage}}</span>
    <md-button class="md-highlight" ng-click="startSearch()">
        Cerca
    </md-button>
    <md-button ng-click="closeToast()">
        Chiudi
    </md-button>
</md-toast>