<md-dialog id="trailerDialog" aria-label="Video">
<md-dialog-content layout-fill>
<div layout="column" layout-align="start stretch" layout-fill>
    <div id="toolbar" flex="none">
        <md-toolbar class="md-hue-2">
            <div layout="row" layout-align="space-between center" class="md-toolbar-tools">
                <div id="left-toolbar">
                    <md-menu>
                    <md-button aria-label="Apri per scegliere il video" class="md-icon-button" ng-click="$mdMenu.open()">
                            <md-icon md-font-library="material-icons" class="clickableIcon" aria-label="open">format_list_bulleted</md-icon>
                    </md-button>
                    <md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
                        <md-menu-item ng-repeat="item in videos">
                        <md-button ng-click="changeVideo(item)">
                            {{item.title}}
                        </md-button>
                        </md-menu-item>
                    </md-menu>
                </div>
                <div id="right-toolbar">
                    <md-icon md-font-library="material-icons" class="clickableIcon" aria-label="close" ng-click="closeDialog()">close</md-icon>
                </div>
            </div>
        </md-toolbar>
    </div>
    <div id="videobox" class="video-container" flex="grow">
            <iframe class="video" sandbox="allow-same-origin allow-forms allow-scripts" ng-src="{{playUrl}}" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
</md-dialog-content>
</md-dialog>